section{
    margin: auto;
    background-image: url("images/fondoProvisional.jpeg");
}
.landingP {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
#tituloLP{
    transition-duration: 1s;
    text-align: center;
    font-family: "Poor Richard";
    font-size: 40px;
    height: 10px;
    text-shadow: 1px 1px mediumpurple;
}
#textoLP{
    transition-duration: 1s;
    font-family: "Poor Richard";
    font-size: 20px;
    text-align:  center ;
}
#imagenLP{
    transition-duration: 2500ms;
    border-radius: 15%;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.banner{
    height: auto;
    background: honeydew;
    display: flex;
    justify-content: space-around;
}
.landingP{
    display: flex;
    flex-direction: column;
}
.contacto{
    display: flex;
    flex-direction: column;
}
#logoGTI{
    width: 110px;
    height: 58px;
}

.masInformacion{
    width: 130px ;
    height: 30px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px mediumpurple;
    text-align: center;
    background: rgba(118, 7, 168, 0.3);
    border-radius: 10px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px mediumpurple;

}
.masInformacion:hover{
    width: 125px ;
    height: 30px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px mediumpurple;
    text-align: center;
    background: rgba(118, 7, 168, 0.2);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
    border: 1px dotted mediumpurple;

}
.gg-chevron-down {
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    color: black;
    width: 40px;
    height: 40px;
    border: 10px solid transparent;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    color: black;
    height: 20px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*--------------------------------------------------------*/
h2{
    
}

.servicios{
    display: flex;
    flex-direction: column;

}
.sensores{
    background-color: rgba(118, 7, 168, 0.2);
    margin: auto;
}
.ajustar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.texto{
    padding-left: 20px;
    font-family: "Caviar Dreams";
}
.imagenes{
    weight: 150px;
    height: 150px;
}
h2{
    margin: 0 auto;
}
h4{
    margin: 5px auto;
    text-align: center;
    margin-top: 10px;

}
