/*
 .centrar{
    /*width: 360px;
    height: 740px;
    margin: auto auto;
    border: black 2px solid;
    background-image: url("page_1.jpg");
     form label{
        width:72px;
        font-weight: bold;
        display: inline-block;
*/

.centrar{
    background: none;
}
    form{
        width: 450px;
        margin: auto;
        background: none;
        padding:10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 10px;
    }

    h2{
        transition-duration: 1s;
        text-align: center;
        font-family: "Poor Richard";
        font-size: 25px;
        height: 10px;
        text-shadow: 1px 1px #9370db;
    }

    input,textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: content-box;
        font-size: 17px;
        border-radius:15px ;
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
    #botonEnviar{
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#000000;
        border:0px;
        border-radius: 15px;
        width:100%;
        height:44px;
        position: center;
        top:800px;
        right:900px;
        background-color: #2B5B01
    }
#botonEnviar:hover{
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#000000;
        border:0px;
        border-radius: 15px;
        width:100%;
        height:44px;
        position: center;
        top:800px;
        right:900px;
        background-color: #3b7702
    }
    .Nombre{

      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border-radius:15px ;

  }
form label{
    width:72px;
    font-weight: bold;
    display: inline-block;
}

    .Email{
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border-radius:15px ;
      }
        form label{
            width:72px;
            font-weight: bold;
            display: inline-block;
        }
    .motivo{
        margin-left: auto;
      min-height: 200px;
      max-height: 300px;
      min-width: 395px;
      max-width: 395px;
    }
    .Motivos>p{
        margin-left: 10px;
        width:72px;
        font-weight: bold;
        display: inline-block;
    }
    #botonEnviar:hover{
        cursor:pointer;
    }
    @media(max-width: 480px) {}
