@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.texto{
    font-family: "Poor Richard";
}
body{
    background-image: linear-gradient(#56a756, #9370db);
}
section{
    background-color: rgba(123,104,238,0.5);
    width: 75%;
    margin: auto;
}
.landingP {
    padding-top: 30px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

#tituloLP{
    transition-duration: 1s;
    text-align: center;
    font-size: 30px;
    height: 10px;
    text-shadow: 1px 1px #9370db;
}
#textoLP{
    margin: 50px auto;
    width: 60%;
    font-family: "Varela Round";
    transition-duration: 1s;
    font-size: 20px;
    text-align:  center ;
}
#imagenLP{
    transition-duration: 2500ms;
    border-radius: 15%;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.banner{
    border-radius: 15px;
    background: rgba(144, 226, 152,0.4);
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
}
.servicios{
    padding-top: 25px;
    display: flex;
    flex-direction: column;

}
.contacto{
    display: flex;
    flex-direction: column;
}
#logoGTI{
    width: 110px;
    height: 58px;
}

.masInformacion{
    width: 130px ;
    height: 30px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px mediumpurple;
    text-align: center;
    background: rgba(78, 153, 55,0.6);
    border-radius: 10px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px mediumpurple;
    margin-top: 30px;

}
.masInformacion:hover{
    width: 125px ;
    height: 30px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px mediumpurple;
    text-align: center;
    background: rgba(147, 255, 117,0.3);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
    border: 1px dotted mediumpurple;

}
.gg-chevron-down-o {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 45px;
    height: 45px;
    border: 2px solid;
    border-radius: 100px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom:50px ;
    color: black;
    background-color: rgba(147, 255, 117,0.4);
    rotation: 180grad;

}
.gg-chevron-down-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(225deg);
    left: 10px;
    top: 15px;
}
.gg-chevron-down-o:hover{
    background-color: rgba(147, 255, 117,1);

}
.servicios{
    padding-top: 25px;
    display: flex;
    flex-direction: column;

}
.sensores{
    background-color: rgba(118, 7, 168, 0.2);
    margin: auto;
}
.ajustar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.texto{
    padding-left: 20px;
    font-family: "Varela Round";
}
.imagenes{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
h2{
    font-family: "";
    margin: 0 auto;
}
h3{
    margin-top: 5px;

}
h4{
    margin: 5px auto;
    text-align: center;
    margin-top: 10px;
}